*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'soria';
  src: url(/assets/font/soria/soria-font.ttf);
}
@font-face {
  font-family: 'louisWalter';
  src: url(/assets/font/louisWalter/LouisWalterRegular-yYjJV.ttf);
}
@font-face {
  font-family: 'dirtyline';
  src: url(/assets/font/DirtyLine/Dirtyline\ Studio\ -\ Casta-Thin.otf);
}
@font-face {
  font-family: 'rafgins';
  src: url(/assets/font/Rafgins/Rafgins-Regular.otf);
}

body {
    color: white;
    font-family: "Poppins";
    font-style: normal;
    background-color: #20211a; 

    background-image: url(/assets/image/vecteezy_abstract-spot-with-gradient_9343816.png);
    background-repeat: no-repeat;
    background-position-x: 1720px;
    background-size: 300px
    
    
}

main{
  padding: 10px;
}
.navbar-container .logo img{
    width: 3rem;
    padding: 3px;
   
}


header.navbar-container {
    display: flex;
    width: 100%;
    margin-inline: auto;
    justify-content: space-around ;
    align-items: center;
    padding-block: 1rem;
    backdrop-filter: blur(60px);
    box-shadow:0px 0px 30px #181818;
    background-image:url('/assets/image/vecteezy_abstract-spot-with-gradient_9343816.png');
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: -1px 2px 4px 6px;
}



.navbar-container nav ul{
    display: flex;
    gap: 2rem ;
    padding-left: 0;
    justify-content: center;

}

.navbar-container nav ul li{
list-style-type: none;
}

.navbar-container nav ul li a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-weight: 300;
    font-size: 19px;
    
}

.navbar-container nav ul li a:hover{      
   font-weight: 450;
   color: white;           
}

.navbar-container a {
    position: relative;
    color: black;
    text-decoration: none;
  }
  
  .navbar-container a::after {
    content: "";
    border-radius: 10em;
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out; 
   
  }
  
  .navbar-container a:hover::after {
    width: 100%; 
  }
  
  
  
  .biografi-kiri p>span {
    font-size: 15px;
  }
  
  .biografi-kiri p{
    font-size: 17px;
  }
  
  .biografi-kiri img{
    width: 250px;
  }
  
  .social-media{
    display: flex;
    gap: 10px;
  }
  
  .social-media .button{
    background-color: rgb(43, 43, 43);
    border-radius: 50px; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid 0.1px rgba(98, 98, 98, 0.264) ;
    
  }
  
  .social-media .button .icon a{
    color: white;
    font-size: 18px;
  }
  
  .social-media .button:hover{
    background-color: grey;
  }
  
  aside .bio{
    gap: 65px;
    flex-direction:column;
    display: flex;
    align-items: center;
  }
  
  
  aside .button button{ 
    width: 180px;
    background-image: linear-gradient(to left, red, orange );
    padding: 0.5rem 2.5rem;
    border-radius: 999px;
    margin-block-start: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #181818;
    font-family: 'Poppins';
    cursor: pointer;
    transition: all 0.15s ease-in;
    border: transparent;
  }
  
  
  
  .biografi-kiri{
    width: 350px;
    background-color: #181818;
    border-radius: 20px;
    padding: 75px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  .container-about{
    display: flex;
    align-items: center;
    
  }
  
  .container-about .biografi-main h1{
    font-family: 'rafgins';
    letter-spacing: 4px;
    background-image: url('/assets/image/gradient/font-gradient.jpg');
    background-size: 2000px;
    background-position: 2px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 4rem;
    
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position-x: left;
    
   
    
  }

  
  
  
  @media screen and (max-width:768px){
   .navbar-container .logo{
    display: none;
   } 

   header.navbar-container{
   background-position: -190px 1px;
   }

   .navbar-container nav ul li a{
    font-size: 15px;
   }

   .container-about{
    flex-direction: column;
    margin: 25px;
   }

   .container-about .biografi-main{
    order: -1;
   }

  .container-about .biografi-main h1{
    font-size: 60px;
    line-height: 60px;

   }

   .container-about .biografi-main p{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 10px;
   }

   .container-about .biografi-main{
    margin-bottom: 150px;
   }

   .container-about .biografi-main{
    padding: 80px 0px 140px 0px;
    
   }

   body {
    background-position-x: 100px;
    background-position-y: 290px ;
    background-size:500px;
   }
  }









  @media screen and (min-width:767px){
    .container-about .biografi-main{
      margin-left: 50px;
      
    }
    
  }
  @media screen and (max-height:668px){
  .container-about .biografi-main{
    padding-top: 0px;
  }
  }




  